<link rel="stylesheet" href="{{ asset('bundles/meteo/meteo.css') }}" type="text/css">
{% block styles %}
{% endblock styles %}
<title>{% block title %}{% endblock title %}</title>
<body>
{% block js %}{% endblock js %}
{% block body %}{% endblock body %}
</body>