.render
{
    border: 5px black solid;
    float: left;
    max-width: 25%;
    background-color: white;
    display: inline;
}
.render h1, h2, h3
{
    text-align: center;
    font-size: 50px;
}
.render li
{
    font-size: 30px;
}
.listeville
{
    border: solid black 1px;
    max-width: 25%;
}
.input
{
    text-align: center;
    border: solid red 1px;
    max-width: 50%;
    margin-left: 25%;
}
.gps
{
    border: solid black 1px;
    margin-left: 75%;
    max-width: 25%;
    text-align: center;
    padding-bottom: 20px;
}
#description
{
    text-transform: capitalize;
}
#background
{
    margin-left: 30%;
    max-width: 70%;
}